@model LeanOnMe.Models.Login
@{
    Layout = null;
    <style>
        #submit {
            background-color: #ff4081;
            border: #ff4081;
            width: 100%;
            height: 100%;
            font-style: normal;
        }
    </style>
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Lean On Me</title>

    <!-- Favicons-->
    <link rel="icon" href="../../Images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="../../Images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="../../Images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->

    <link href="../../Content/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../../Content/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../../Content/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="../../Content/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../../Scripts/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body class="cyan">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->


    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="login-page" class="row" style="width:320px">
            <div class="col s12 z-depth-4 card-panel">
                <form class="login-form">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <img src="../../Images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                            <p class="center login-form-text"><strong style="color:blue"></strong> </p>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix"></i>
                            @Html.TextBoxFor(m => m.UserName)
                            <label for="EmailID" class="center-align">Email ID</label>
                            <b style="color:red">@Html.ValidationMessageFor(m => m.UserName)</b>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            @Html.PasswordFor(m => m.Password)
                            <label for="Password">Password</label>
                            <b style="color:red">@Html.ValidationMessageFor(m => m.Password)</b>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">                           
                            <b style="color:red">@ViewBag.Msg</b>
                        </div>
                    </div>
                    <!--<div class="row">
                      <div class="input-field col s12 m12 l12  login-text">
                          <input type="checkbox" id="remember-me" />
                          <label for="remember-me">Remember me</label>
                      </div>
                    </div>-->

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" value="Login" id="submit" class="btn waves-effect waves-light col s12" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 m6 l6">
                            <p class="margin medium-small"><a href="~/RegisterUser/Register">Register Now!</a></p>
                        </div>
                        <!--<div class="input-field col s6 m6 l6">
                            <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
                        </div> -->
                    </div>

                </form>
            </div>
        </div>
    }


    <!-- ================================================
      Scripts
      ================================================ -->

    <script type="text/javascript" src="../../Scripts/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="../../Scripts/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="../../Scripts/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="../../Scripts/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="../../Scripts/plugins/chartist-js/chartist.min.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="../../Scripts/plugins.js"></script>

</body>

</html>